@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
font-family: 'Montserrat', sans-serif;
/* font-weight: bold; */
}
body{
    background: #00F260;  
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  
    background: linear-gradient(to right, #0575E6, #00F260);  
}
.resume{
    text-align: center;
    text-transform: uppercase;
    border: 4px solid black;
    border-style: none none solid none;
}
.heading{
   margin: 10px 0px;
   border: 4px solid black;
   border-style:double none solid none;
   border-bottom-width: thick;
   padding-left: 20px;
}
.dp{
    display: block;
    margin: 10px auto;
    border-radius: 50%;
    
    height: 200px;
    width: 200px;
}
.myname{
    margin-left: 20px;
}
.address{
    font-size: 20px;
    font-weight: bold;
}
a{
    background-color: transparent;
}
p{
    padding-left: 20px;
}
.table_center {
    margin: 20px auto;
}
.table_center td,
th {
    border: 2px solid black;
    padding: 5px 0;
    text-align: center;
}
.list {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 20px;
}
.last {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 20px 0px;
    
    
}
.name{
    margin-right: 20px;
    margin-left: 50px;
}

footer{
    background-color: rgb(63, 59, 59);
    width: 100%;
    text-align: center;
    color: white;
}
footer ul li{
    display: inline;
    /* padding: 20px; */
    margin: 10px 0px;
    width: 100%;
    color: white;
}